@font-face {
    font-family: "Bebas Neue";
    src: url(./assets/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "Paramore";
    src: url(./assets/Fast\ In\ My\ Car.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#d8a6cb, #9996cb);
    font-family: "Bebas Neue";
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    max-width: 100%;
}

#img-caption {
    margin-top: 10px;
    text-align: center;
}

#title {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
} 
.left {
    font-size: 75px;
    display: inline-block;
    transform: rotateY(-50deg) skew(0deg, -10deg);
}

.right {
    font-size: 75px;
    display: inline-block;
    transform: rotateY(50deg) skew(0deg, 10deg);
}

section {
    display: flex;
}

#tribute-info {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

p { 
    align-self: center;
    flex-shrink: 10;
    font-size: 20px;    
    padding: 0 100px;
    margin-bottom: 30px;
}

#company {
    text-decoration: underline;
}

#band-title {
    font-family: Paramore;
    font-size: 24px;
}

#lists {
    align-items: baseline;
    border-top: solid .3px #FFF;
    border-bottom: solid .3px #ffffff;
    display: flex;
    justify-content: space-evenly;    
}

.list-1 {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-2 {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.albums, .awards {
    font-family: Paramore;
    font-size: 24px;
    border-top: solid .3-top;
    text-align: center;
}

footer {
    text-align: center;
    clear: both;
    padding: 25px;
}

@media screen and (orientation: portrait) {
    #lists {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: solid .3px #FFF;
        border-bottom: solid .3px #ffffff;
    }

    .awards-list, .albums-list {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .awards-list {
        margin-bottom: 24px;
    }

    footer {
        text-align: center;
        clear: both;
        padding: 25px;
        font-size: 20px;
    }
}